# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate

# macOS
.DS_Store
.AppleDouble

# Swift Package Manager
.build/
.swiftpm/

# Large binaries — ignore only these specific folders
**/Resources/wine/
**/Resources/proton/
